.xxam_coding_cursor{
    position: absolute;
    /*border-left: 2px solid gold;*/
}
.xxam_coding_cursor_bubble
{
    position: absolute;
    height: 18px;
    padding: 1px;
    /*background: #FFFFFF;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    left: -6px;
    top: -20px;
    color: black;
}

/*.xxam_coding_cursor_bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -20px;
    left: 0;
}*/
.xxam_coding_selection {
    position: absolute;
    z-index: 2;
}

.xxam_coding_cursor.n1 { border-left: 2px solid blue; }
.xxam_coding_cursor.n2 { border-left: 2px solid crimson; }
.xxam_coding_cursor.n3 { border-left: 2px solid chocolate; }
.xxam_coding_cursor.n4 { border-left: 2px solid coral; }
.xxam_coding_cursor.n5 { border-left: 2px solid cadetblue; }
.xxam_coding_cursor.n6 { border-left: 2px solid beige; }
.xxam_coding_cursor.n7 { border-left: 2px solid mediumpurple; }
.xxam_coding_cursor.n8 { border-left: 2px solid limegreen; }
.xxam_coding_cursor.n9 { border-left: 2px solid orangered; }
.xxam_coding_cursor_bubble.n1 { background: blue; }
.xxam_coding_cursor_bubble.n2 { background: crimson; }
.xxam_coding_cursor_bubble.n3 { background: chocolate; }
.xxam_coding_cursor_bubble.n4 { background: coral; }
.xxam_coding_cursor_bubble.n5 { background: cadetblue; }
.xxam_coding_cursor_bubble.n6 { background: beige; }
.xxam_coding_cursor_bubble.n7 { background: mediumpurple; }
.xxam_coding_cursor_bubble.n8 { background: limegreen; }
.xxam_coding_cursor_bubble.n9 { background: orangered; }


.xxam_coding_selection.n1 {background: darkblue;}
.xxam_coding_selection.n2 { background: darkmagenta; }
.xxam_coding_selection.n3 { background: saddlebrown; }
.xxam_coding_selection.n4 { background: darkgoldenrod; }
.xxam_coding_selection.n5 { background: darkcyan; }
.xxam_coding_selection.n6 { background: darkorange; }
.xxam_coding_selection.n7 { background: rebeccapurple; }
.xxam_coding_selection.n8 { background: darkgreen; }
.xxam_coding_selection.n9 { background: darkorange; }