<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <base target="_blank">
        <style>
            body{position:relative;padding-bottom:10px;background-color:#fff}
            pre{margin:0;padding:0;font-family:monospace;font-size:12px;white-space:-moz-pre-wrap !important;white-space:pre-wrap !important;white-space:pre}

        </style>
    </head>
    <body>{{mailcontent|raw}}</body>
</html>
